/* Fonts */
@font-face {
  font-family: "Crystal Universe";
  src: url("../fonts/CrystalUniverse-Regular.woff2") format("woff2"), url("../fonts/CrystalUniverse-Regular.woff") format("woff"), url("../fontsCrystalUniverse-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* ALL STYLES ARE FOR 320PX VIEWPORT UNLESS MEDIA QUERY IS APPLIED */
/* Variables */
/* General Styles */
body {
  font-family: "Nunito", sans-serif;
  background-color: #fb5b68;
  color: #1f0c07;
}

/* Logos */
.logos {
  padding: 1rem 0.5rem;
  text-align: center;
}
.logos .starLogo {
  color: #ffeb48;
  font-size: 2em;
  text-shadow: 5px 10px 10px #1f0c07;
}
.logos .textLogo {
  font-family: "Crystal Universe", sans-serif;
  color: #ffeb48;
  text-shadow: 5px 10px 10px #1f0c07;
  font-size: 24px;
  line-height: 2;
}

@media (min-width: 1200px) {
  .logos .starLogo {
    font-size: 46px;
  }
  .logos .textLogo {
    font-size: 50px;
  }
}
/* Main Container */
.main {
  background-color: #fff;
  width: 90%;
  min-height: 78vh;
  margin: 2.5rem auto 0 auto;
  border-radius: 5.5rem;
  box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.5);
}

@media (min-width: 1200px) {
  .main {
    width: 60%;
  }
}
.headingText {
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 2px 2px #1f0c07;
}
.headingText #groupPhoto {
  max-width: 80%;
  margin: -3.5rem auto;
}
.headingText h1 {
  color: #2676a1;
  font-size: 40px;
  margin: 2.5rem 0 0 0;
}
.headingText h2 {
  color: #fa74bf;
  font-size: 30px;
  margin: -0.5rem 0 0.5rem 0;
}

@media screen and (min-width: 500px) {
  .headingText #groupPhoto {
    margin: -2rem auto;
  }
}
@media screen and (min-width: 600px) {
  .headingText #groupPhoto {
    max-height: 60vh;
  }
}
@media screen and (min-width: 745px) {
  .headingText #groupPhoto {
    max-width: 50%;
    max-height: 80vh;
    margin: -1.5rem auto -1rem -2rem;
  }
}
@media screen and (min-width: 1024px) {
  .headingText #groupPhoto {
    margin: -2.5rem 0 -10rem -46rem;
    max-height: 35vh;
    transform: rotate(-5deg);
  }
  .headingText h1 {
    font-size: 60px;
  }
  .headingText h2 {
    font-size: 46px;
  }
}
@media (min-width: 1200px) {
  .headingText #groupPhoto {
    margin-left: -42.5rem;
    max-height: 30vh;
  }
}
@media (min-width: 1440px) {
  .headingText #groupPhoto {
    margin-left: -60rem;
  }
}

}
/* Message to Customers */
.description {
  padding: 1px 8px;
  font-weight: 600;
  text-align: center;
}
.description .miniHeading {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
}
.description .text span {
  color: #fa74bf;
}
.description .text span:nth-of-type(2) {
  color: #fb5b68;
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  .description {
    text-align: left;
  }
  .description .miniHeading {
    font-size: 30px;
    margin-top: 1rem;
  }
  .description .miniHeading br {
    display: none;
  }
  .description .text {
    width: 50%;
    margin: 0 auto;
    padding: 1rem 0;
  }
}
@media screen and (min-width: 1200px) {
  .description .text {
    padding-top: 2rem;
    width: 60%;
  }
}
/* Email Form */
.signUp {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}
.signUp form {
  margin: 0 0.5rem;
}
.signUp form input {
  margin: 0 auto;
  border: 5px inset #ffbdb0;
  border-radius: 20px;
  background-color: #ffbdb0;
  color: #1f0c07;
  text-align: center;
}
.signUp form input:focus {
  outline: none;
}
.signUp form button {
  margin: 0.5rem 4rem;
  text-align: center;
  background-color: #ffbdb0;
  color: #807d7d;
  border: 5px inset #ffbdb0;
  border-radius: 10px;
}
.signUp form button:hover {
  border: 5px solid #ffbdb0;
}

@media screen and (min-width: 600px) {
  .signUp {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .signUp {
    width: 100%;
    padding-bottom: 1rem;
  }
  .signUp form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .signUp form input {
    width: 30%;
  }
  .signUp form button {
    width: 10%;
    margin: 1rem auto;
  }
}
@media screen and (min-width: 1200px) {
  .signUp {
    padding-top: 2rem;
    padding-bottom: 6rem;
  }
}
.stevenShield {
  display: none;
}

@media (min-width: 1024px) {
  .stevenShield {
    display: block;
    max-width: 25%;
    margin: -10rem 0 -3.5rem 45rem;
    transform: scaleX(-1) rotate(-20deg);
  }
}
@media (min-width: 1200px) {
  .stevenShield {
    display: block;
    max-width: 20%;
    margin: -10rem 0 -3.5rem 50rem;
  }
}
@media (min-width: 1440px) {
  .stevenShield {
    margin-left: 75rem;
    margin-top: -15rem;
  }
}

/* Attribution */
footer {
  padding-top: 1rem;
}

.attribution {
  text-align: center;
  color: #ffbdb0;
  font-size: 10px;
}

.attribution a {
  text-decoration: none;
  color: #ffbdb0;
}

@media screen and (min-width: 1200px) {
  footer {
    max-width: 40%;
    margin: 0 auto;
  }
}